.ios, .md {

    home-page {

      ion-title{
          color: green !important;
      }

      .scroll-content {
        height: 100% !important;
      }

      #map {
        width: 100% !important;
        height: 100% !important;
      }

      #machine-avatar{
        float: left;
      }

      #right-bottom{
        position: absolute;
        right:15px;
        bottom: 70px;
      }

      #left-bottom{
        position: absolute;
        left:15px;
        bottom: 70px;
      }

      .button-yellow{
        margin-top: 15px ;
        background-color: #FDD835;
        color: #424242;
      }

      .route-button-hidden{
        display: none;
      }

      #pin-icon{
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        bottom: 50vh;
        width: $pin-width;
        height: $pin-heigth;
      }

      #loc-card{
        position:absolute;
        left: 0;
        right: 0;
        margin:0 auto;
        top:0;
        width: $loc-width;
      }

      .activeButton{
        color: #2B8DFF !important;
      }

      .toolbar-background{
        background-color: #FDD835 !important;
      }

    }

}
